

button {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    margin: 0.7em;
    cursor: pointer;
}


.cart-btn {
    color: white;
    background-color: #c63928;
    text-align: center;
    padding: 15px 60px;
    margin-left: 5px;
    border:none; 
}

.cart-btn:hover{
    background-color: #ec4d50;
}

.start-btn {
    background-color:#fcd835;
    color: #2a61fb;
    font-family: 'Gugi', cursive;
    font-size: 1.5em;
    border:3px solid #2a61fb;
    padding: 15px 20px;

}

.start-btn:hover{
color:#fcd835;
background-color:  #2a61fb;
}


.login-btn{
color: white;
border-radius: 30px; 
border:none;
padding: 12px 45px;
background-image: linear-gradient(to right,#59d1db ,#a4d488);

}



.signup-btn{
    color: 	#6749ea;
    background-color: white;
    border: 3px solid #6749ea;
    border-radius: 8px; 
    padding:15px 25px; 
    font-weight: bolder;
    font-size: 20px;

}

.signup-btn:hover{
    background-color:  #6749ea;
    color: white;
}

.sub-btn{
    background-image: linear-gradient(to bottom, #f9c332, #f5a031);	
    color: white;
    padding: 15px 2em;
    border-radius: 5px;
    border:2px solid #f5a031;
    text-shadow: 1px 5px 6px grey;
    
}

.sub-btn:hover{
    background-color: #f5a031;
    background-image: none;
}

.twitter-btn{
    background-color: white;
    color: #37a1f3;
    border-radius: 200px;
    border-color: #37a1f3;
    padding: 10px 15px;
    font-size: 30px;
    
}

.twitter-btn:hover{
    color: white;
    background-color: #37a1f3;
}