body {
    background-color: #e2e4e5;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    text-shadow: -2px 2px 2px red;
    text-align: center;
    background-color: #eceff1;
    padding: 10px;
}

figcaption {
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
}

figure {
    display: inline-block;
    padding: 1em;
    border-radius: 6px;
    cursor: pointer;
}

figure:hover {
    background-color: #eceff1;
    color:
}